<p>Visuals are extremely important for Spoon, so all photos must be very high quality. Here are some guidelines to taking the best photos possible:</p>


<div class="expectations-images">
  <div class="row">
    <div class="col-sm-4">
      <img src="/assets/photo/1.png">
    </div>
    <div class="col-sm-4">
      <img src="/assets/photo/2.png">
    </div>
    <div class="col-sm-4">
      <img src="/assets/photo/3.png">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <img src="/assets/photo/4.png">
    </div>
    <div class="col-sm-4">
      <img src="/assets/photo/5.png">
    </div>
    <div class="col-sm-4">
      <img src="/assets/photo/6.png">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <img src="/assets/photo/7.png">
    </div>
    <div class="col-sm-4">
      <img src="/assets/photo/8.png">
    </div>
    <div class="col-sm-4">
      <img src="/assets/photo/9.png">
    </div>    
  </div>
</div>

<div>
    <%= render "positions/quiz_tr" %>
</div>

<div class="row">
  <div id="quiz" class="span12">
    
  </div>
  <div id="question" class="span12">
    
  </div>
</div>

