<div class="styles-images">
  <div class="row">
    <div class="col-sm-4">
      <img src="/assets/photo/11.png">
      Great composition! Beautiful table! And we love the aerial shot.
    </div>
    <div class="col-sm-4">
      <img src="/assets/photo/12.png">
      Beautiful, bright colors and great lighting.
    </div>
    <div class="col-sm-4">
      <img src="/assets/photo/13.png">
      Nice crop — background isn’t distracting, but feels real.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <img src="/assets/photo/14.png">
      Nice depth including the bite — makes the photo more interesting and complex.
    </div>
    <div class="col-sm-4">
      <img src="/assets/photo/15.png">
      Great perspective with awesome colors. Ask the restaurant to play with the light switches, if possible, and maybe find a wide-angle lens for interior shots (borrow one!).
    </div>
    <div class="col-sm-4">
      <img src="/assets/photo/16.png">
      Perfectly framed —slightly off center as per the rule of thirds.
      
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <img src="/assets/photo/17.png">
      Clean, white plate, thoughtfully placed apples, and the dripping honey is a fantastic detail.

    </div>
    <div class="col-sm-4">
      <img src="/assets/photo/18.png">  
       Clean plate and wonderful attention to detail. Not a drip out of place and fantastic colors to boot.
    </div>
  </div>
</div>

  