<p>We use Flickr to organize our photos.</p>
 
<p>It is usually the responsibility of the photo director to handle your chapter’s Flickr account. Talk to them about the login information.If you’re a national contributor, you use the national spoon account. The yahoo ID is spoonuniversity, and the password is N0rthwestern.</p>
 
<p>IMPORTANT: Do not upload stock photos or any photos not taken by you on the Flickr. It is for Spoon photographer’s work only.</p>
 
<p>When you are uploading, each photo must have:</p>
<ul>
  <li>
    A <strong>title</strong> that explains what the photo is of (for example, egg, milk, mixing ingredients, etc)
  </li>
  <li>
    <strong>Tags</strong> so we can search for them
  </li>
  <li>
    A caption with the photographer’s name
  </li>
  <li>
    Once it is uploaded, make sure it is in a new “<strong>set</strong>” with it’s article title, and that the “set” is in it’s proper “<strong>collection</strong>”
  </li> 
</ul>

<p>This is the screen after you are done uploading– click “Add to set” and create a set for your article. Then add that set to a collection.</p>
<img src="/assets/photo/50.png">

<p>“Sets” are the folders for specific articles (They will be named after the exact article title)</p>
<img src="/assets/photo/51.png">
 
<p>“Sets” are within a collection, which is the folder for the section (There are 6 collections titled as the different website sections)</p>
<img src="/assets/photo/52.png">



