
<p>All photos should be edited before they go onto Flickr. Flickr has pretty awesome built-in editing software too though, so you can edit in Flickr if you need to.</p>

<div class="row">
  <div class="col-sm-6">
    <p>SIMPLE</p>
    <p>USING IPHOTO</p>
    <iframe src="//player.vimeo.com/video/81031346" width="100%" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
    
  <div class="col-sm-6"> 
    <p>FLICKR</p>
    <p>USING FLICKR</p>
    <iframe src="//player.vimeo.com/video/85961377" width="100%" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <p>ADVANCED</p>
    <p>USING PHOTOSHOP</p>
    <p>VIDEO COMING SOON!</p>
  </div>
</div>