We have found that there is most accountability when writers and photographers are paired together, so each knows who to ask for the things that they need. Depending on the size of the staff, a photographer will be paired with 2 to 3 writers.
<strong>Scroll to the right to get an overview of the usual process:</strong>
STEP 1
Each week, a writer contacts his or her designated photographer for any photo needs.

STEP 2
The writer explains the article or sends the text to the photographer, and they brainstorm specific photo ideas.

STEP 3
The photographer has <strong>one week</strong> to take the photos.

STEP 4
The photographer edits photos and chooses a handful of their best ones.

STEP 5
The photographer uploads the photos to <a href="http://secretsauce.spoonuniversity.com/photo-process/#photo-guide-flickr">Flickr</a> and labels the tags properly.

STEP 6
The photographer emails the photo director when the photos are uploaded to Flickr.

STEP 7
The photo director looks over photos on Flickr and deletes any that are unusable for the site.

STEP 8
Writer gets photos off Flickr and inserts into article.