<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h4>Here's a list of other skills that may come in handy. You don't have to go through all of these now, but remember that they're here for when you need them.</h4>
		<div class="row skills">
			<div class="col-md-3">
				<a href="<%= skill_path('add_video') %>">
					<div class="panel panel-default">
						Add Video
					</div>
				</a>
			</div>
			<div class="col-md-3">
				<a href="<%= skill_path('add_slideshow') %>">
					<div class="panel panel-default">
						Add Slideshow
					</div>
				</a>
			</div>
			<div class="col-md-3">
				<a href="<%= skill_path('personality_quiz') %>">
					<div class="panel panel-default">
						Personality Quizzes
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
