<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<p>Each Spoon chapter has an <strong>editorial</strong> side that handles everything with the website and a <strong>marketing</strong> team that handles outreach and engagement.</p>

		<h4>We highly recommend this structure (trust us, we’ve done this before).</h4>
		<div class="row">
			<div class="col-sm-5">
				<img src="/assets/leadership/business-structure.png">
			</div>
			<div class="col-sm-7 border-left">
				<img src="/assets/leadership/editorial-structure.png">
			</div>
		</div>
	</div>
</div>

