<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<p>Each Spoon chapter has an <strong>editorial</strong> side that handles everything with the website and a <strong>marketing</strong> team that handles outreach and engagement.</p>

		<p>We highly recommend this structure (trust us, we’ve done this before).</p>
		<div class="little-space"></div>
		<div class="row">
			<div class="col-sm-5">
				<img src="/assets/leadership/business-structure.png">
			</div>
			<div class="col-sm-7">
				<img src="/assets/leadership/editorial-structure.png">
			</div>
		</div>
	</div>
</div>

