<h1>Add Photos via Flickr</h1>


Every post needs photos, and since our photographers upload all their photos to flickr, we gotta know how to get them from there. Here’s how to insert your photos into WordPress from Flickr.
<ol>
  <li>
    Open desired photo on Flickr
  </li>
  <li>
    On the bottom right of the photo, click the <!-- attach image here -->
  </li>
  <li>
    Open “Grab the HTML/BCCode.” Make sure photo size is at least 770x500px, no larger than 1024px wide.
  </li>
  <li>
    Copy the HTML text.
  </li>
  <li>
    Go to the article on WordPress.
  </li>
  <li>
    Select “Text” to view the text editor, with the HTML code.
  </li>
  <li>
    Paste the HTML code where you want to place the photo.
  </li>
  <li>
    Go back to the “Visual” editor to add a photo credit.
  </li>
</ol>

<img src="/assets/editorial/50.png">
WARNING: Sometimes, the default image size will be medium instead of large! Be sure to scroll down on the right and see that ‘LARGE’ is selected in the dropdown menu.


<!-- TWO  VIDEO  HERE 
http://secretsauce.spoonuniversity.com/add-photos/ -->