
It’s your responsibility to add your writers and editors to the WordPress database. Note that they can’t complete the Secret Sauce guide until you make them an account, so sign them up ASAP.

PUT IT INTO PRACTICE:
<ol>
  <li>
    Log into the admin dashboard and go to Users > Add New.
  </li>
  <li>
    Create username (first and last name) and enter email address.
  </li>
  <li>
    Select role and click “add new user.”
  </li>
</ol>
User should follow instructions in confirmation email.

ROLES
<ul>
  <li>Editor-in-chief should be admin</li>
  <li>Editors should be editors</li>
  <li>Writers should be authors</li>
</ul>


<!-- VIDEO HERE
http://secretsauce.spoonuniversity.com/add-user/
 -->