<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <p>If you want your post to show up on the national Spoon homepage, you need to make sure it's in tip-top shape.</p>
        <div class="little-space"></div>

<!--         PRACTICE      ******************************** -->        
        <h2><i class="fa fa-check-square-o"></i> Heads</h2>
        <p class="note">(This is the title of the article)</p>
        <p>You have one shot to convince a reader to click on your article.</p>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="row">
                    <div class="col-md-6">
                        <p class="small-caps label">Do</p>
                        <p>Things <em>you</em> would click on on Facebook</p>
                        <p>Consider Google search terms</p>
                        <p>Be straightforward</p>
                    </div>
                    <div class="col-md-6">
                        <p class="small-caps label">Don't</p>
                        <p>Be cheesy</p>
                        <p>Be ambiguous</p>
                        <p>Make it too long</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="little-space"></div>
        <h2><i class="fa fa-check-square-o"></i> Decks</h2>
        <p class="note">(This is the subtitle of the article)</p>
        <p>Either clarify your headline, or take this opportunity to be witty (note: not cheesy).</p>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="row">
                    <div class="col-md-6">
                        <p class="small-caps label">Do</p>
                        <p>Be clever</p>
                        <p>Clarify</p>
                        <p>Only put a period if it's a full sentence</p>
                    </div>
                    <div class="col-md-6">
                        <p class="small-caps label">Don't</p>
                        <p>Use any extra words</p>
                        <p>Capitalize every word</p>
                        <p>Put a period if it's a fragment</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="little-space"></div>


 <!-- PUT SLIDESHOW HERE          **********             -->
<h2>More detail coming soon!</h2>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h3><i class="fa fa-check-square-o"></i>   Is it the right post type?</h3>
    <h3><i class="fa fa-check-square-o"></i>   Is there a title?</h3>
    <h3><i class="fa fa-check-square-o"></i>   Is there a deck?</h3>
    <h3><i class="fa fa-check-square-o"></i>   Is it formatted correctly?</h3>
    <h3><i class="fa fa-check-square-o"></i>   Is it in the right category?</h3>
    <h3><i class="fa fa-check-square-o"></i>   Is it in the right subcategories?</h3>
    <h3><i class="fa fa-check-square-o"></i>   Does it have 3-5 tags?</h3>
    <h3><i class="fa fa-check-square-o"></i>   Is the SEO filled out?</h3>
    <h3><i class="fa fa-check-square-o"></i>   Is there a featured image?</h3>
  </div>
</div>
