<p>Scroll to the right to learn how a story flows through the system, from ideation to publishing</p>

<i class="fa fa-arrows-h fa-3x"></i>

<div class="timeline-window clearfix">
	<div class="timeline-wrapper clearfix">
	<div class="timeline-step" id="step-1">
<p class="label">STEP 1</p><br>

<p>Live your regular life and take note of things your friends ask each other, food you always tend to make and questions that come up.</p>
	</div>
	<div class="timeline-step">
<p class="label">STEP 2</p><br>
<p>Be inspired by your own life events and pitch your story idea to Mackenzie.</p>
	</div>
	<div class="timeline-step">
<p class="label">STEP 3</p><br>

<p>When Mackenzie approves the idea, record it on the publishing spreadsheet (see next page) and begin.</p>
	</div>
	<div class="timeline-step">
<p class="label">STEP 4</p><br>

<p>Take original photography for your post. If a friend takes photos for you, just make sure he/she is credited on the post.</p>
	</div>
	<div class="timeline-step">
<p class="label">STEP 5</p><br>

<p>Upload post and photos to WordPress.</p>

	</div>
	<div class="timeline-step">
<p class="label">STEP 6</p><br>

<p>Email Mackenzie to let her know it’s ready to be reviewed. Send her a link so she can find it easily.</p>
	</div>
	<div class="timeline-step">
<p class="label">STEP 7</p><br>

<p>When your post is published, share it with friends on Facebook and Twitter, and give yourself a hug.</p>
	</div>
</div>
</div>

*Throughout this process, the publishing spreadsheet will be updated.