<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p>This is our bread and butter. Be sure to pay attention to these steps carefully, because we use <strong>multiple post types</strong> to differentiate between our content.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="box">
          <p class="box-label"> First, know what type of post it is</p>
          <div class="box-inner">
            <ul class="list-unstyled">
              <% if @position.shortname != "national-contributor" %>
              <li>
                For students, campus or events, go to <strong>Posts</strong> > Add new
              </li>
              <li>
                For restaurant posts, go to <strong>Restaurant</strong> > Add new
              </li>
              <% end %>
              <li>
                For recipes, go to <strong>Recipe</strong> > Add new
              </li>
              <li>
                For kitchen 101 is <strong>Kitchen 101</strong> > Add New
              </li>
              <li>
                For food for thought, go to <strong>Food for Thought</strong> > Add New
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>
<div class="row">
 <div class="col-sm-8">
  <iframe src="//player.vimeo.com/video/79539371" width="100%" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
<div class="col-sm-4">
  <p class="small-caps">PUT IT INTO PRACTICE:</p>
  <p>Click around your WordPress Dashboard and create a test post to follow along. Don't save it, though, or you'll clutter stuff up.</p>
  <ol>
    <li>
      Enter a <strong>headline</strong> and the body of the article. Make sure you’re using the visual tab, and for more on the toolbar, check out <a target="_blank" href="http://spoonuniversity.com/images/screenshot-edit-explained.png">this</a> graphic! 
    </li>
    <li>
      Add a <strong>deck</strong> (140 characters <em>max</em>) to your article to give it context and encourage readers to click. The dek box is located below the title.
    </li>
    <li>
      Select the main <strong>category</strong> (e.g. Recipes) and all appropriate subcategories (e.g. 20 Minutes or Less).
    </li>
    <li>
      Add three to five <strong>tags</strong>, usually selecting from ones that already exist.
    </li>
    <li>
      Add a <strong>featured image</strong> (near the bottom of the right sidebar) that will be the main image for your post.
    </li>
    <li>
      Enter the <strong>SEO</strong> Title and description (this sets what comes up in Google Searches and on Facebook). 
    </li>
    <li>
      You can “<strong>Preview</strong>” your post, then select “Save as Draft” or “Submit for Review.” 
    </li>
  </ol>
</div> 
</div>