	
<div class="sections row">
	<div class="col-md-10 col-md-offset-1">
	<p class="small-caps highlight">*Bookmark this page to save it for later. We promise — you’ll need it!</p>
	<div class="row">
		<div class="col-sm-4">
			<div class="box">
				<p class="box-label">Recipes</p>
				<div class="box-inner">
					<p>Keep it simple, take plenty of photos, and follow the formatting rules to a T.</p>
					<p>
						<a class="btn btn-primary" href="/editorial/<% @position.shortname %>/recipes" target="_blank">SEE MORE</a>
					</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="box">
				<p class="box-label">Food for Thought</p>
				<div class="box-inner">
					<p>Get creative. Pose questions. Answer questions. Make lists, conduct interviews and address health concerns.</p>
					<p>
						<a class="btn btn-primary" href="/editorial/<% @position.shortname %>/food_for_thought" target="_blank">SEE MORE</a>
					</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="box">
				<p class="box-label">Kitchen 101</p>
				<div class="box-inner">
					<p>Make common kitchen tasks easy. Help students learn about the basics in a clear, easy-to-read format.</p>
					<p>
						<a class="btn btn-primary" href="/editorial/<% @position.shortname %>/kitchen_101" target="_blank">SEE MORE</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<% if @position.shortname != 'national-contributor' %>
	<div class="row">
		<div class="col-sm-4 no-left-margin">
			<div class="box">
				<p class="box-label">Restaurant</p>
				<div class="box-inner">
					<p>Write like you’re telling a friend about a restaurant. Love it, hate it, would you go back?</p>
					<p>
						<a class="btn btn-primary" href="/editorial/<% @position.shortname %>/restaurants" target="_blank">SEE MORE</a>
					</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="box">
				<p class="box-label">On Campus/Students</p>
				<div class="box-inner">
					<p>Everything from dining halls, happenings to local celebs (they’re famous when you make them so).</p>
					<p>
						<a class="btn btn-primary" href="/editorial/<% @position.shortname %>/campus_students">SEE MORE</a>
					</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="box">
				<p class="box-label">Events</p>
				<div class="box-inner">
					<p>Support other student organizations and local restaurants. Preview and recap relevant food events.</p>
					<p>
						<a class="btn btn-primary" href="/editorial/<% @position.shortname %>/events" target="_blank">SEE MORE</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<p class="small-caps">PUT IT INTO PRACTICE</p>
			<p>
				<strong>Pick one of the above categories and create a sample post in WordPress.</strong> <a href="http://hipsteripsum.me/" target="_blank">This</a> is a sample text generator, if you want to use it. Make sure that it is the proper Post Type. Find photos on the internet (any old photos will do) and put them into the post where photos belong. Format the text properly, according to the detailed screenshots, and select a few appropriate sub-categories. If you need any help, flip back through the guide!
			</p>
		</div>
	</div>
	<% end %>
</div>
</div>