<div class="row">
<div class="col-sm-10 col-sm-offset-1">
	<div class="row">
<div class="col-sm-6">
<p>Report on events that happen in and around campus — <em>especially</em> ones hosted by Spoon! Be sure to take <em>lots</em> of photos and put them up (people love to see photos of themselves). See if you can beat this wonderfully photo-heavy post from Penn.</p>
</div>
<div class="col-sm-6">
<img src="/assets/event-formatting.png">
</div>
</div>
</div>
</div>