<div class="row">
<div class="col-sm-8 col-sm-offset-2">
<p class="small-caps">Every Food for Thought article should fit into one of the following categories:</p>
<p><img src="http://spoonuniversity.com/secretsauce/fft-subcats.png"></p>
<div class="row">
<div class="col-sm-6">
<p>This gathers together all the interesting tidbits related to food across the interwebs. Find cool info, “chew” on it, if you will, and serve it up fresh. (Too many food puns?)</p>
<p>The formatting for these types of stories is pretty lax. The more photos the better, though — look, they even used a GIF in the example! Everyone loves GIFs… </p>
<p><span class="small-caps">NEED IDEAS?</span> Try interviews with chefs, reviews of apps, food trends, scathing op-eds or lists of the craziest/best/worst-smelling/hallucination-inducing etc. Also consider taste tests, surprising tricks, unusual things to do with surprising ingredients, best/worst lists, and rankings.</p>
</div>
<div class="col-sm-6">
<img src="/assets/food-for-thought-formatting.png">
</div>
</div>
</div>
</div>