<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<p>Everything you’re <em>supposed</em> to know about food, but don’t.</p>
		<p class="small-caps">Kitchen 101 articles are either:</p>
		<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<img src="http://spoonuniversity.com/secretsauce/kitchen-subcats.png">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="empty-space"></div>
			<p>The formatting for these types of stories is pretty lax. The more photos the better, though — check out all these gorgeous pics in the example! Use subheads if you want, but don’t go adding weird colors or anything, please.</p>
			<p><span class="small-caps">NEED IDEAS?</span> Be inspired by Buzzfeed’s <a href="http://www.buzzfeed.com/twopoodles/lifehacks-for-your-tiny-kitchen">hacks</a>, <a href="http://www.buzzfeed.com/readcommentbackwards/42-clever-food-hacks-that-will-change-your-life-dmjk">hacks</a> and more <a href="http://www.buzzfeed.com/readcommentbackwards/34-creative-kitchen-hacks-that-every-cook-should-k-dmjk">hacks</a>. You don’t have to do hacks, though.</p>
		</div>
		<div class="col-sm-6">
			<img src="http://secretsauce.spoonuniversity.com/secretsauce/screenshot-kitchen-formatting.png">
		</div>
	</div>
</div>
</div>