
Before you publish anything onto WordPress, make sure your user profile is up to snuff so readers can see your bio and pretty face at the bottom of each post.

PUT IT INTO PRACTICE:
<ol>
  <li>
    From the dashboard, go to Profile > Your Profile.
  </li>
  <li>
    Update your first and last name and change your display name to “First Last.”
  </li>
  <li>
    Write a short bio about yourself. This will show up on all of your posts. Talk about yourself in the third person.
  </li>
  <li>
    Create a password.
  </li>
  <li>
    Upload an avatar (preferably a pic of yourself). This will also show up on all of your posts.
  </li>
  <li>
    Feel free to add whatever additional contact info you want.
  </li>
</ol>

<!-- VIDEO HERE
http://secretsauce.spoonuniversity.com/update-profile/
 -->