<div class="row">
<div class="col-sm-8 col-sm-offset-2">
	<div class="row">
		<p class="center">This section features original or adapted recipes for novice college student cooks. Here, we emphasize:</p>
		<div class="row">
			<div class="col-md-4">
				<p class="label">SIMPLICITY</p>
				<p class="small-caps"> easy recipes with simple steps and basic appliances or tools</p>
			</div>
			<div class="col-md-4">
				<p class="label">PRACTICALITY</p>
				<p class="small-caps">cater to students’ basic everyday eating needs. Remember that they probably cook dinner way more often than elaborate desserts</p>
			</div>
			<div class="col-md-4">
				<p class="label">AFFORDABILITY</p>
				<p class="small-caps"> ingredients must be readily available in student kitchens or can be bought inexpensively at a nearby store</p>
			</div>
		</div>
		<p>&nbsp;</p>
		<p class="center">Each recipe must fulfill at least one of the following criteria and be categorized accordingly:</p>
		<p>
			<img src="/assets/recipe-subcats.png">
			<br>
			&nbsp;<br>
			<img src="/assets/recipe-formatting.png">
		</p>
	</div>
	<div class="row">
		<h3>Use the following shortcodes in the “Visual” editor to include the difficulty level badges.</h3>
		<div class="col-sm-4">
			<img src="/assets/easy.png">
			<p class="small-caps">you type (without spaces):</p>
			<p>[ easy ]</p>
			<p class="small-caps">it means:</p>
			<p>my-middle-school-sister-could-make-this-it’s-so-easy</p>
		</div>
		<div class="col-sm-4">
			<img src="/assets/medium.png">
			<p class="small-caps">you type (without spaces):</p>
			<p>[ medium ]</p>
			<p class="small-caps">it means:</p>
			<p>this might take a <em>little</em> more time or a few random ingredients, but hey, you’re educated</p>
		</div>
		<div class="col-sm-4">
			<img src="/assets/advanced-course.png">
			<p class="small-caps">you type (without spaces):</p>
			<p>[ advanced ]</p>
			<p class="small-caps">it means:</p>
			<p>when you’re lookin’ for a challenge and a trip to the grocery store
			</p>
		</div>
	</div>
</div>
</div>
<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
<div class="box">
	<p class="box-label">NOTE</p>
	<div class="box-inner">
		<p>Spoon does not reimburse writers for ingredients. The idea is that you use what’s left in your fridge to make a dish, photograph it and share. It’s about the real college eating experience.</p>
	</div>
</div>
</div>
</div>