<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<p>Recommend good places, warn about bad ones, suggest dishes and introduce random finds. Talk about the restaurant like you would to your friend — don’t get all prim and proper about it.</p>
		<p class="small-caps">The primary subcategories for restaurants are:</p>
		<p>
			<img src="/assets/restaurant-subcats.png">
			<br>
			<img src="/assets/restaurant-formatting.png">
		</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<p>Use the following shortcodes in the “Visual” editor to include the price level badges.</p>
		<div class="col-sm-4">
			<img src="/assets/under-10.png">
			<p>
			</p>
			<p class="small-caps">you type (without spaces):</p>
			<p>[ cheap ]</p>
			<p class="small-caps">it means:</p>
			<p>less than $10 per person</p>
		</div>
		<div class="col-sm-4">
			<img src="/assets/10-25.png">
			<p>
			</p>
			<p class="small-caps">you type (without spaces):</p>
			<p>[ average ]</p>
			<p class="small-caps">it means:</p>
			<p>Between $10 and $25 per person</p>
		</div>
		<div class="col-sm-4">
			<img src="/assets/over-25.png">
			<p>
			</p>
			<p class="small-caps">you type (without spaces):</p>
			<p>[ expensive ]</p>
			<p class="small-caps">it means:</p>
			<p>More than $25 per person</p>
		</div>
	</div>
</div>
<div class="col-sm-10 col-sm-offset-1">
	<div class="row">
		<div class="col-sm-6">

			<div class="box">
				<p class="box-label">REMEMBER</p>
				<div class="box-inner">
					A restaurant is an “it,” not a “they!” Use the present tense when describing a restaurant. And don’t capitalize a dish that isn’t a proper noun. If you’re not sure, use the Google.</div>
				</div>
			</div>

			<div class="col-sm-6">


				<div class="box">
					<p class="box-label">NOTE</p>
					<div class="box-inner">
						Spoon does not reimburse writers for meals. The idea is that you go where all students go. It’s about the real college eating experience.</div>
					</div>
				</div>
			</div>
		</div>
	</div>