
<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
<h3>Now that you know how to create a post and insert photos, you should learn how each post type should be formatted. Check out each section’s formatting guidelines, and bookmark the pages so you can check your work later.</h3>
</div>
</div>