<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<p class="center">These stories cover everything from students doing cool stuff to dining hall tips and tricks.</p>
		<div class="row">
			<div class="col-sm-6">
				<div class="box">
					<p class="box-label">On Campus</p>
					<div class="box-inner">
						<p><img src="/assets/campus-formatting.png"></p>
						<p class="center">Don’t forget to select one of the subcategories (Campus Life or Dining Hall)</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="box">
					<p class="box-label">Students</p>
					<div class="box-inner">
						<p><img src="/assets/students-formatting.png"></p>
						<p class="center">Don’t forget that selecting the “VIP” subcategory will promote that post to the slider on the students page!</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="empty-space"></div>
<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<div class="box">
			<p class="box-label">Don't forget!</p>
			<div class="box-inner">
				These stories are uploaded as 'posts' — they don't have their own post type!
			</div>
		</div>
	</div>
</div>
<div class="empty-space"></div>