
<p>You need to be sure to keep your Staff page updated — everyone deserves credit for the work they do!</p>
<div class="row">
  <div class="col-md-8 col-md-offset-2"
<p class="small-caps">TRY IT NOW:</p>

<ol> 
  <li>
    From the admin dashboard, go to Pages > All Pages.
  </li>
  <li>
    Click “About.”
  </li>
  <li>
    “<%= current_user.school.name %> Staff” should be the first line, formatted to Heading 3.
  </li>
  <li>
    List staff members below, starting with the editor-in-chief and business director.
  </li>
  <li>
    Click “Update” to save changes.
  </li>
</ol>
</div>
</div>