<div class="row frequently-asked-questions">
	<div class="col-sm-8 col-sm-offset-2"
	<div class="row">
		<p class="faq"><i class="fa fa-question-circle"></i>My posts aren’t previewing!</p>
		<p>
			<strong>Sometimes, the “Preview” button sends you to page with a URL that looks like this:</strong>
		</p>
		<p>http://<% if current_user.school.shortname != 'national' %><%= current_user.school.shortname %>.<% end %>spoonuniversity.com/?post_type=recipe&amp;p=74&amp;preview=true&amp;preview_id=74&amp;preview_nonce=e9be8a35ed&amp;post_format=standard</p>
		<p>
			<strong>which leads to a page that says, ‘Page Not Found’, but the preview is actually here:</strong>
		</p>
		<p>http://<% if current_user.school.shortname != 'national' %><%= current_user.school.shortname %>.<% end %>spoonuniversity.com/?post_type=recipe&amp;p=74&amp;preview=true&amp;preview_id=74&amp;preview_nonce=e9be8a35ed</p>
		<p><strong>(Which is the original link without the ‘&amp;post_format=standard’ on the end). So if you go to the original link and delete that last section on the end:</strong></p>
		<p>http://<% if current_user.school.shortname != 'national' %><%= current_user.school.shortname %>.<% end %>spoonuniversity.com/?post_type=recipe&amp;p=74&amp;preview=true&amp;preview_id=74&amp;preview_nonce=e9be8a35ed<strong>&amp;post_format=standard</strong>
		</p>
		<p><strong>Then you’ll be able to preview your post!<br>
			We’re looking into a more permanent fix, but this should help for now!</strong></p>
			<p class="faq"><i class="fa fa-question-circle"></i>My photos are too small!</p>
			<p>Find the dimensions of the file. On a Mac, Finder will show you the dimensions in the file info:<br>
				<img alt="" src="/assets/finderdimensions.png">
				<br>
				If the dimensions of the file are too small, then you need to go back to an earlier version of the image when it is bigger (maybe directly off your camera card?).* If the file dimensions are not too small, then you’re just cropping it incorrectly. Try editing the image size in Photoshop, or cropping it in iPhoto, or even heading over to <a target="_blank" href="http://www.picresize.com/">picresize.com</a>. Remember, the images always need to be at least 770px across (no larger than 1024px across).</p>
				<p class="?">*Despite what it may seem like in all of those TNT Drama shows where the cops zoom in on old video recordings to see someone’s license plates really far away, images can’t be made larger than their dimensions without getting pixelated and blurry.</p>
				<p>If that doesn’t work, try watching this video:</p>
				<p>
					<iframe src="//player.vimeo.com/video/81032625" width="640" height="400" frameborder="0" title="Photos too small" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" kwframeid="1">
					</iframe>
				</p>
				<p class="faq"><i class="fa fa-question-circle"></i>There are weird extra spaces in between my lines in my article!</p>
				<p>In the post editor, click “Text” in the top right corner.</p>
				<div id="tab-example">Example</div>
				<p>Manually delete extra lines in between the text. Return to “Visual” to see how it looks.<br>
					&nbsp;<br>
					&nbsp;</p>
					<p class="faq"><i class="fa fa-question-circle"></i>My font is weirdly small!</p>
					<div class="row-fluid">
						<div class="span2">
							<img alt="" src="/assets/paragraph.png">
						</div>
						<div class="span10">
							<p>You may have accidentally formatted it. Highlight the weirdly small text and select “Paragraph” from the dropdown menu. Preview the post to see if it’s better.</p>
							<p>Still small? Or looking weird? Highlight the text again and click the eraser icon <img alt="" src="/assets/eraser.png"> to clear all formatting and start over.</p>
						</div>
					</div>
					<p class="faq"><i class="fa fa-question-circle"></i>I don’t see a broadcast button!</p>
					<p>That’s probably our fault, but you have to let us know! Email <a href="mackenzie@spoonuniversity.com">mackenzie@spoonuniversity.com</a> or <a href="sarah@spoonuniversity.com">sarah@spoonuniversity.com</a> and tell us you don’t see all 4 broadcast options. We just have to add you as a user to the national site. Easy peasy.</p>
					<p class="faq"><i class="fa fa-question-circle"></i>I only see one row in the toolbar!</p>
					<p>Click <img alt="" src="/assets/more-button.png">.</p>
					<p class="faq"><i class="fa fa-question-circle"></i>My author name shows up as firstnamelastname!</p>
					<p>From the dashboard go to “Users” &gt; “Your Profile.” Next to “Display name publicly as”, select First Last from the dropdown window.<br>
						<p class="faq"><i class="fa fa-question-circle"></i>Do we get money for recipes or restaurant reviews (or anything)?</p>
						<p>Nope, sorry.</p>
						<p class="faq"><i class="fa fa-question-circle"></i>What do I do if I’m shooting in the dark?</p>
						<p>Is there <em>any way</em> that you can take these photos at a different time when there <em>is</em> natural light? Please, please do that. If not, try to move all of the lights in the room to where you’re shooting. You can move them back later. Don’t have one lamp with piercing light reflecting off of your plate. Be resourceful and creative, and try to edit the photo to account for the darkness.</p>
						<p class="faq"><i class="fa fa-question-circle"></i>What do I do if my photos are yellowed?</p>
						<p>Brighten them, then cool them down with blue tones.</p>
						<p class="faq"><i class="fa fa-question-circle"></i>Do we get any money to work with?</p>
						<p>Nope, sorry.</p>
						<p class="faq"><i class="fa fa-question-circle"></i>How the $%&amp;(# do I plan an event with no money?!</p>
						<p>You could ask each member that joins to pay dues ($5-$15) to cover basic costs like flyers and other promotional materials. Sometimes people have to put up a few dollars to plan the event, but make sure you charge an entrance fee so you’re guaranteed to make that money back. See our guide to planning an event on the cheap <a href="http://secretsauce.spoonuniversity.com/plan-an-event">here</a>.<p class="faq">If we’re not planning an event, what do we do each week?</p>
						<p>Come up with smaller biweekly campaigns, centered around flyering, tabling, charity work, fundraisers, etc. See our list of free or low cost marketing ideas <a href="marketing/business-director/free_ideas">here</a>.</p>
					</div>
				</div>
			</div>