<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<h1 class="super">Fonts</h1>
		<p>By downloading these fonts, I accept responsibility for anything that is created with these files. I understand that these fonts may not be used for anything unrelated to Spoon University.</p>
		<p>I also promise not to make anything fugly.</p>
		<a class="btn btn-primary btn-lg" href="/assets/fonts.zip">I AGREE</a>
	</div>
</div>