<div id="thanks">
<h1 class="super">Thanks!</h1>

<p>Get connected! You are now part of a vibrant, nationwide network of talented college students, and that’s seriously something to brag about. Add your Spoon title to your Facebook job description, add it to your twitter handle, and most importantly, share your articles with family and friends. How cool would it be to see your post go viral?</p>
<p>Congrats, you know everything you need to know for Spoon. If you have any questions, do not hesitate at all to email Sarah (<a href="mailto:sarah@spoonuniversity.com">sarah@spoonuniversity.com</a>) or Mackenzie (<a href="mailto:mackenzie@spoonuniversity.com">mackenzie@spoonuniversity.com</a>) about anything.</p>
 
<p>Here’s the last step!</p>

</div>

