
<div class="row">
  <p>We use Google Analytics to track visitors to the site. Because Spoon is a Wordpress Multisite, it can be a little bit tricky to navigate through the analytics. Here's a quick way to separate your analytics from everyone else's.</p>
  <div class="col-sm-6">
    <iframe src="//player.vimeo.com/video/79911642" width="100%" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>

  <div class="col-sm-6">
    <p class="small-caps">PUT IT INTO PRACTICE:<p>
    <ol>
    <li>
      <p>Log into Google Analytics.<p>
      <p>username: spoonuniversity@gmail.com</p>
      <p>password: northwestern</p>
    </li>
    <li>
      Click the “starred” property, which is called “Spoon University”
    </li>
    <li>
      On the left sidebar, select the Behavior tab, then select Site Content > All Pages.
    </li>
    <li>
      Right below the line graph in pretty tiny text, it says “Primary Dimension.” Click “other” and type in “hostname”. This will show you how each entire subsite of Spoon University compares to all of the others.
    </li>
    <li>
      If you change the primary dimension back to “Page”, change the secondary dimension to “hostname.” This will let you navigate through pages on specific sites.
    </li>
    </ol>
  </div>
</div>