
<p>Each school has a Google Calendar that should include events, food “holidays”, free food offerings or anything else food related in and around campus. <i>Everyone</i> on staff should submit ideas <i>regularly</i> to the Online Marketing Director, who will be in charge of updating the calendar.</p>

<!-- CALENDER FROM
http://secretsauce.spoonuniversity.com/events-calendar/ -->