<h1>Free &#038; Cheap Offline Marketing Ideas</h1>
<p class="center">When you’re not throwing big events, plan other, smaller things throughout the semester to engage students on campus.</p>

<p class="center">Just to get the good thoughts rollin&#8217; around in your head:</p>
<div class="row-fluid">
  <div class="span3 boxed-up-black">
    <p class="small-caps center">Bake Sale</p>
    <p class="small center">Make recipes from Spoon site, hand out recipe cards and charge $$ per treat</p>
  </div>
  <div class="span3 boxed-up">
    <p class="small-caps center">Bananagram</p>
    <p class="small center">Buy bananas in bulk. Write a message and your school’s URL on each banana and hand them out.</p>
  </div>
  <div class="span3 boxed-up-black">
    <p class="small-caps center">Holiday Treat</p>
    <p class="small center">Hand out free candies with Spoon sticker/note attached.</p>
  </div>
  <div class="span3 boxed-up">
    <p class="small-caps center">Warm Up</p>
    <p class="small center">Set up table and sell $1 hot chocolate or Starbucks coffee in the winter.</p>
  </div>
</div>
<div class="row-fluid">
  <div class="span3 boxed-up">
    <p class="small-caps center">Fan Fare</p>
    <p class="small center">Set up a booth at sporting event/multicultural event; hand out fliers with healthy eating tips relevant to the event.</p>
  </div>
  <div class="span3 boxed-up-black">
    <p class="small-caps center">Smarties</p>
    <p class="small center">Estimation box: make box of little candies, have people guess and winner gets candy.</p>
  </div>
  <div class="span3 boxed-up">
    <p class="small-caps center">Potluck</p>
    <p class="small center">Plan a party where everyone brings a dish.</p>
  </div>
  <div class="span3 boxed-up-black">
    <p class="small-caps center">Volunteer</p>
    <p class="small center">Organize canned food drive, set up boxes in dorms to collect leftover food before breaks, volunteer at soup kitchen, etc.</p>
  </div>
</div>
<div class="row-fluid">
  <div class="span3 boxed-up-black">
    <p class="small-caps center">Chocolate-Dipped</p>
    <p class="small center">Dip spoons in melted chocolate and then give them away (for email addresses!)</p>
  </div>
  <div class="span3 boxed-up">
    <p class="small-caps center">Time Lapse</p>
    <p class="small center">Set up a big whiteboard/poster and film people writing things (their favorite food?) then make a timelapse video.</p>
  </div>
  <div class="span3 boxed-up-black">
    <p class="small-caps center">Use the System</p>
    <p class="small center">Partner with dining services and have them make Spoon recipes.</p>
  </div>
  <div class="span3 boxed-up">
    <p class="small-caps center">Get Fancy</p>
    <p class="small center">Pair up with a fancy restaurant in town and have students sign up for a discounted pre-fixe meal (see <a href="http://nu.spoonuniversity.com/2013/10/spoons-private-dinner-chefs-station/" target="_blank">Northwestern</a>)</p>
  </div>
</div>
<div class="row-fluid">
  <div class="span3 boxed-up">
    <p class="small-caps center">Speak</p>
    <p class="small center">Organize speakers (experts, nutritionists, professors, chefs, etc.).</p>
  </div>
  <div class="span3 boxed-up-black">
    <p class="small-caps center">It&#8217;s a Miracle</p>
    <p class="small center">Miracle Berry sale or Miracle Berry party (NU sold 1 tablet for $3 and 2 for $5). Find them at <a href="http://mberry.us/" target="_blank">mberry.us</a>.</p>
  </div>
  <div class="span3 boxed-up">
    <p class="small-caps center">Spoon Swag</p>
    <p class="small center">Buy Spoon merchandise or apparel to sell, give away, or raffle.</p>
  </div>
  <div class="span3 boxed-up-black">
    <p class="small-caps center">Window Shopping</p>
    <p class="small center">Print and laminate restaurant reviews and give to respective restaurants.</p>
  </div>
</div>