<p >When you’re not throwing big events, plan other, smaller things throughout the semester to engage students on campus.</p>

<p >Just to get the good thoughts rollin&#8217; around in your head:</p>
<div class="row free-ideas">
  <div class="col-sm-4 col-md-3">
    <div class="box">
    <p class="box-label">Bake Sale</p>
    <p class="box-inner">Make recipes from Spoon site, hand out recipe cards and charge $$ per treat</p>
  </div>
</div>
  <div class="col-sm-4 col-md-3">
    <div class="box">
    <p class="box-label">Bananagram</p>
    <p class="box-inner">Buy bananas in bulk. Write a message and your school’s URL on each banana and hand them out.</p>
  </div>
</div>
  <div class="col-sm-4 col-md-3">
    <div class="box">
    <p class="box-label">Holiday Treat</p>
    <p class="box-inner">Hand out free candies with Spoon sticker/note attached.</p>
  </div>
  </div>
  <div class="col-sm-4 col-md-3">
    <div class="box">
    <p class="box-label">Warm Up</p>
    <p class="box-inner">Set up table and sell $1 hot chocolate or Starbucks coffee in the winter.</p>
  </div>
  </div>
  <div class="col-sm-4 col-md-3">
    <div class="box">
    <p class="box-label">Fan Fare</p>
    <p class="box-inner">Set up a booth at sporting event/multicultural event; hand out fliers with healthy eating tips relevant to the event.</p>
  </div>
  </div>
  <div class="col-sm-4 col-md-3">
    <div class="box">
    <p class="box-label">Smarties</p>
    <p class="box-inner">Estimation box: make box of little candies, have people guess and winner gets candy.</p>
  </div>
  </div>
  <div class="col-sm-4 col-md-3">
    <div class="box">
    <p class="box-label">Potluck</p>
    <p class="box-inner">Plan a party where everyone brings a dish.</p>
  </div>
  </div>
  <div class="col-sm-4 col-md-3">
    <div class="box">
    <p class="box-label">Volunteer</p>
    <p class="box-inner">Organize canned food drive, set up boxes in dorms to collect leftover food before breaks, volunteer at soup kitchen, etc.</p>
  </div>
  </div>
  <div class="col-sm-4 col-md-3">
    <div class="box">
    <p class="box-label">Chocolate-Dipped</p>
    <p class="box-inner">Dip spoons in melted chocolate and then give them away (for email addresses!)</p>
  </div>
  </div>
  <div class="col-sm-4 col-md-3">
    <div class="box">
    <p class="box-label">Time Lapse</p>
    <p class="box-inner">Set up a big whiteboard/poster and film people writing things (their favorite food?) then make a timelapse video.</p>
  </div>
  </div>
  <div class="col-sm-4 col-md-3">
    <div class="box">
    <p class="box-label">Use the System</p>
    <p class="box-inner">Partner with dining services and have them make Spoon recipes.</p>
  </div>
  </div>
  <div class="col-sm-4 col-md-3">
    <div class="box">
    <p class="box-label">Get Fancy</p>
    <p class="box-inner">Pair up with a fancy restaurant in town and have students sign up for a discounted pre-fixe meal (see <a href="http://nu.spoonuniversity.com/2013/10/spoons-private-dinner-chefs-station/" target="_blank">Northwestern</a>)</p>
  </div>
  </div>
  <div class="col-sm-4 col-md-3">
    <div class="box">
    <p class="box-label">Speak</p>
    <p class="box-inner">Organize speakers (experts, nutritionists, professors, chefs, etc.).</p>
  </div>
  </div>
  <div class="col-sm-4 col-md-3">
    <div class="box">
    <p class="box-label">It&#8217;s a Miracle</p>
    <p class="box-inner">Miracle Berry sale or Miracle Berry party (NU sold 1 tablet for $3 and 2 for $5). Find them at <a href="http://mberry.us/" target="_blank">mberry.us</a>.</p>
  </div>
  </div>
  <div class="col-sm-4 col-md-3">
    <div class="box">
    <p class="box-label">Spoon Swag</p>
    <p class="box-inner">Buy Spoon merchandise or apparel to sell, give away, or raffle.</p>
  </div>
  </div>
  <div class="col-sm-4 col-md-3">
    <div class="box">
    <p class="box-label">Window Shopping</p>
    <p class="box-inner">Print and laminate restaurant reviews and give to respective restaurants.</p>
  </div>
  </div>
</div>