<p>
  As business director, you’re in charge of making sure shit gets done. It’s your job to organize your team so everyone feels empowered to make great things happen, and you have to consistently check in so everyone knows you care. Here are some tips on how to maintain a healthy team:
</p>
<p><strong>ORGANIZE MONTHLY BONDING EVENTS.</strong></p>
<p>
  Make sure everyone knows each other and feels comfortable on the team.
</p>
<p><strong>BE CONSISTENT WITH WEEKLY MEETINGS.</strong></p>
<p>
  Don’t flake out last minute and cancel meetings, and keep the meeting day and time the same each week. Take note of who doesn’t show up, and contact them to ask why.
</p>

<p><strong>SET DEADLINES AND FOLLOW UP.</strong></p>
<p>
  Make sure your members knows how important deadlines are, especially when planning logistic-heavy events.
</p>

<p><strong>HAVE INCREDIBLE COMMUNICATION.</strong></p>
<p>
  Respond to emails quickly, get everyone’s phone numbers so you can text them in a pinch. You set the communication standard.
</p>

<p><strong>SET GOALS.</strong></p>
<p>
  At the beginning of the semester, set goals for that month. You want xx social media followers, 1 fundraising event, 1 launch party and 1 philanthropy event, etc. Push your team to meet those goals.
</p>

<p><strong>BE NICE, BUT BE STERN.</strong></p>
<p>
  The #1 regret from our early chapters was that they didn’t set expectations from the start, and people thought Spoon was a blow off club. Make sure everyone knows Spoon is a commitment.
</p>

<p><strong>DO AWESOME THINGS.</strong></p>
<p>
  Be creative, experiment, let people run with their wild ideas, and make sure everyone’s having fun.
</p>





