<p><strong>Whether you're making fliers, videos, t-shirts, sunglasses, banners, cakes, whatever — we gotta present a united front here.</strong></p>
<div class="colors">
<div class="row">
	<div class="orange col-xs-2">#f96d14</div>
	<div class="yellow col-xs-2">#f1a003</div>
	<div class="blue col-xs-2">#00a2ca</div>
	<div class="green col-xs-2">#829300</div>
	<div class="pink col-xs-2">#a33873</div>
	<div class="red col-xs-2">#ff0000</div>
</div>
<div class="row hover">
	<div class="orange col-xs-2">#fdc5a1</div>
	<div class="yellow col-xs-2">#f9d99a</div>
	<div class="blue col-xs-2">#99daea</div>
	<div class="green col-xs-2">#cdd499</div>
	<div class="pink col-xs-2">#daafc7</div>
	<div class="red col-xs-2">#ff9999</div>
</div>
</div>
<div class="row materials">
	<div class="col-md-8">
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<p class="box-label">Fliers</p>
					<div class="box-inner">
						<p>To help you get started, here are some templates for fliers made in InDesign and Powerpoint — you can choose which program to use. Make sure you’ve downloaded the fonts (above) or they won’t work. You can use images off of our <a href="http://www.flickr.com/photos/100601615@N07/">Flickr Feed.</a> Make sure that any images that you use are <em>never</em> pixelated, and be careful when using colored text. Rule of thumb: Keep it Simple.</p>
						<p><a class="btn btn-primary marketing" href="/assets/flier-examples.zip" target="_blank">DOWNLOAD</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-9">
				<div class="box black-out">
					<div class="box-inner">
						<p class="small-caps">Logos by School</p>
						<div class="row">
							<div class="col-md-11 col-md-offset-1">
								<div class="row">
									<% School.all.each do |school| %>
									<div class="col-sm-3">
										<a class="link" href="/assets/logos/<%= school.shortname %>.png"> <%= school.shortname %></a>
									</div>
									<% end %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<a class="link" href="/assets/profile-photo.zip" target="_blank">
					<div class="box">
						<p class="box-label">Profile Photos</p>
						<p>DOWNLOAD
						</p>
					</div>
				</a>
				<a class="link" href="/assets/cover-photo.zip" target="_blank">
					<div class="box">
						<p class="box-label">Cover Photos</p>
						<p>DOWNLOAD
						</p>
					</div>
				</a>
				<a class="link" href="/fonts" target="_blank">
					<div class="box">
						<p class="box-label">FONTS</p>
						<p>DOWNLOAD
						</p>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="box">
			<p class="box-label">Logos</p>
			<div class="box-inner">
				<p>Use these logos as they appear — please don’t make any changes to them without talking to Sarah!</p>
				<p>EPS photos can be edited in Photoshop or Illustrator and are infinitely resizeable. PNG’s are not, but they can be opened basically anywhere.</p>
				<div class="row">
					<div class="col-md-5 col-md-offset-1">
						<div class="box black-out">
							<div class="box-inner">
								<div class="row">
									<div class="col-md-6 col-md-offset-1">
										<img class="logo-preview" src="/assets/preview-spoon-u-black.png">
									</div>
									<div class="col-md-5">
										<a class="link" href="/assets/logos/spoon-university-black.png">PNG</a><br>
										<a class="link" href="/assets/logos/spoon-university-black.eps">EPS</a>
									</div>
								</div>
							</div>
						</div>
						<div class="box black-out">
							<div class="box-inner">
								<div class="row">
									<div class="col-md-6 col-md-offset-1">
										<img class="logo-preview" src="/assets/preview-spoon-u-white.png">
									</div>
									<div class="col-md-5">
										<a class="link" href="/assets/logos/spoon-university-white.png">PNG</a><br>
										<a class="link" href="/assets/logos/spoon-university-white.eps">EPS</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-5">
						<div class="box black-out">
							<div class="box-inner">
								<div class="row">
									<div class="col-md-6 col-md-offset-1">
										<img class="logo-preview" src="/assets/preview-spoon-circle-black.png">
									</div>
									<div class="col-md-5">
										<a class="link" href="/assets/logos/spoon-circle-black.png">PNG</a><br>
										<a class="link" href="/assets/logos/spoon-circle-black.eps">EPS</a>
									</div>
								</div>
							</div>
						</div>
						<div class="box black-out">
							<div class="box-inner">
								<div class="row">
									<div class="col-md-6 col-md-offset-1">
										<img class="logo-preview" src="/assets/preview-spoon-circle-white.png">
									</div>
									<div class="col-md-5">
										<a class="link" href="/assets/logos/spoon-circle-white.png">PNG</a><br>
										<a class="link" href="/assets/logos/spoon-circle-white.eps">EPS</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>