
<p>
  One of the primary jobs of the marketing team is to host kick-ass parties! This is fun for you and fun for everyone who comes, and the sky’s the limit (er, that and money).
</p>
<p>
  SCROLL TO THE RIGHT TO VIEW THE STEPS TO THE PERFECT PARTY.
</p>


STEP 1

FIND FREE SPACE
It has to be <strong>big enough</strong> to hold a lot of people, <strong>close enough</strong> so people are willing to go. Ideally a place that students are familiar with.

STEP 2

FOOD
If you’re trying to get free food, start early. Email, call and visit restaurants <strong>(yes, all three)</strong> to request donations for the launch event. Tell them it’ll be great for business Be relentless, and get a ton of food.

<</strong>strong>No one wants to give you food?</strong> Suggest they set up a booth at the event and charge students $1-$5 for bites.

STEP 3

TICKETS
Sell tickets before the event for a discounted price and <strong>at the door for slightly more</strong>. To avoid free food hoarders, give each person 2 food tickets at the door. They can get 2 free food items, and if they want more food they have to go back to the front to purchase more tickets.

STEP 4

MUSIC
Find student DJs, bands and a capella groups to perform at the event.


STEP 5

ACTIVITIES
Give people something to do!
<ul>
  <li>
    Whipping cream contest
  </li>
  <li>
    Doughnut on a string-eating contest
  </li>
  <li>
    Churning butter contest (shake milk in a mason jar)
  </li>
  <li>
    the Saltine cracker challenge
  </li>
  <li>
    Photo booth (make a Spoon backdrop and set a photographer up with a tripod and camera)
  </li>
  <li>
    Raffles (guess the amount of candies in a jar, enter your email to win a Spoon shirt, restaurant gift card, etc.)
  </li>
</ul>
STEP 6

PROMOTE
<strong>Team up</strong> with another student group to have them help you promote. <strong>Post fliers</strong> all over campus the week before the event. Create a <strong>Facebook event</strong>. Make a <strong>promo video</strong> in anticipation of the event. Have everyone on staff change their <strong>profile pictures</strong> and cover photos for the event. Make sorority and fraternity <strong>chapter announcements</strong>.

STEP 7

EXTRA OOMPF
Have all staff members wear Spoon swag at event. Give away stickers, big wooden spoons, etc.. Hand out cards with healthy eating tips to each guest as they leave. Collect email addresses of every guest to add to newsletter.