<p class="small-caps">Each school should set up and manage the following social media accounts.</p>
<div class="social-media">
<div class="row">
	<div class="col-md-7 col-md-offset">
		<div class="box">
			<p class="box-label"><i class="fa fa-2x fa-facebook-square"></i>FACEBOOK</p>
			<div class="box-inner">
				<div class="row">
					<div class="col-md-8">
						<p>From our experience, <strong>Facebook is the #1 way to reach college students</strong>. Each chapter must set up a Facebook page (format: <strong>Spoon University – My School</strong>) Everyone on staff should be an admin and invite all their friends to like the page. Staff members should also like the pages of other Spoon chapters so you can cross-promote content. Cover photos should be photos of delicious food; profile pictures should be the Spoon logo.</p>
					</div>
					<div class="col-md-4"><img src="/assets/facebook-likes.png"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="box">
			<p class="box-label"><i class="fa fa-2x fa-twitter"></i>TWITTER</p>
			<div class="box-inner">
				<p >All chapters must also have a Twitter account. Twitter is great way to interact with restaurants and people that have been featured on the site, as well as other Spoon chapters. Twitter handles should be <strong>@spoon_<%= current_user.school.shortname %></strong>.</p>
			</div>
		</div>
	</div>
	<div class="col-md-2">
		<div class="box">
			<p class="box-label"><i class="fa fa-2x fa-instagram"></i>INSTAGRAM</p>
			<div class="box-inner">
				<p>Engage readers through food porn photos. Everyone on staff should have login info and should Instagram photos of their daily food adventures. Hashtags are very effective here.</p>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<div class="box">
			<p class="box-label"><i class="fa fa-2x fa-pinterest"></i><br>PINTEREST</p>
			<div class="box-inner">
				<p>Use the national Pinterest account to pin all articles from your site. Login with:<br>
					Username: <strong>info@spoonuniversity.com</strong><br>
					Password: <strong>northwestern</strong><br>
					Create a board for your school and additionally pin all articles into that board. You can pin photos directly from your school’s website.</p>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="box">
				<p class="box-label"><i class="fa fa-2x fa-tumblr"></i><br>TUMBLR</p>
				<div class="box-inner">
					<p>If you’d like to make a tumblr for your chapter, go for it. Be creative.</p>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="box">
				<p class="box-label"><i class="fa fa-2x fa-camera"></i><br>FOODGAWKER &amp; TASTESPOTTING</p>
				<div class="box-inner">
					<p>Submit your best photos to be featured on these sites. They generate a ton of traffic to the site. Log in with:<br>
						Username: <strong>spoonuniversity</strong><br>
						Password: <strong>northwestern</strong></p>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="box">
					<p class="box-label"><i class="fa fa-2x fa-link"></i><br>BIT.LY</p>
					<div class="box-inner">
						<p>Track links with <a target="_blank" href="https://bitly.com/">bit.ly</a>. Make a bit.ly account and use it to convert links so you can track stats. Evaluate which posts got more clicks than others, figure out why, and make changes for future blasts.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="box">
					<p class="box-label"><i class="fa fa-2x fa-clock-o"></i><br>HOOTSUITE</p>
					<div class="box-inner">
						<p><strong>Make your life easier and use Hootsuite.</strong> Hootsuite is a free program that allows you to schedule tweets and Facebook posts hours or days ahead of time. Sign up for an account and you’ll just spend a half hour in the morning planning your social media blasts for the entire day!</p>
					</div>
				</div>
			</div>
		</div>
	</div>





<!-- 
<p>Each school should set up and manage the following social media accounts.</p>
<div class="row">
	<div class="col-md-4">
		<div class="box">
			<p class="box-label">TWITTER</p>
			<div class="box-inner">
				<p >All chapters must also have a Twitter account. Twitter is great way to interact with restaurants and people that have been featured on the site, as well as other Spoon chapters. Twitter handles should be <strong>@spoon_myschool</strong>.</p>
			</div>
		</div>
	</div>
	<div class="col-md-8">
		<div class="box">
			<p class="box-label">FACEBOOK</p>
			<div class="box-inner">
				<div class="row">
					<div class="col-md-8">
						<p>From our experience, <strong>Facebook is the #1 way to reach college students</strong>. Each chapter must set up a Facebook page (format: <strong>Spoon University – My School</strong>) Everyone on staff should be an admin and invite all their friends to like the page. Staff members should also like the pages of other Spoon chapters so you can cross-promote content. Cover photos should be photos of delicious food; profile pictures should be the Spoon logo.</p>
					</div>
					<div class="col-md-4"><img src="/assets/facebook-likes.png"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<div class="box">
			<p class="box-label">INSTAGRAM</p>
			<div class="box-inner">
				<p>Engage readers through food porn photos. Everyone on staff should have login info and should Instagram photos of their daily food adventures. Hashtags are very effective here.</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="box">
			<p class="box-label">PINTEREST</p>
			<div class="box-inner">
				<p>Use the national Pinterest account to pin all articles from your site. Login with:<br>
					Username: <strong>info@spoonuniversity.com</strong><br>
					Password: <strong>northwestern</strong><br>
					Create a board for your school and additionally pin all articles into that board. You can pin photos directly from your school’s website.</p>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="box">
				<p class="box-label">TUMBLR</p>
				<div class="box-inner">
					<p>If you’d like to make a tumblr for your chapter, go for it. Be creative.</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="box">
				<p class="box-label">FOODGAWKER &amp; TASTESPOTTING</p>
				<div class="box-inner">
					<p>Submit your best photos to be featured on these sites. They generate a ton of traffic to the site. Log in with:<br>
						Username: <strong>spoonuniversity</strong><br>
						Password: <stro>ng>northwestern</strong></p>
					</div>
				</div>
			</div>
			<div class="col-md-10 col-md-offset-1">
				<p <strong>Make your life easier and use Hootsuite.</strong> Hootsuite is a free program that allows you to schedule tweets and Facebook posts hours or days ahead of time. Sign up for an account and you’ll just spend a half hour in the morning planning your social media blasts for the entire day!</p>
				<p>Track links with <a target="_blank" href="https://bitly.com/">bit.ly</a>. Make a bit.ly account and use it to convert links so you can track stats. Evaluate which posts got more clicks than others, figure out why, and make changes for future blasts.</p>
			</div>
		</div>
	</div> -->