<h1>Create Newsletters</h1>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <p>Email Sarah and give her the email address you want associated with your school's mailchimp account (most campuses use the email address they made for their school's chapter, not a personal one). She'll create the account and create the 'segment' that you send to.</p>
    <iframe src="//player.vimeo.com/video/85498975" width="500" height="285" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>

</div>
<div class="little-space"></div>

<a class="btn btn-primary" href="<%= skill_path('mailchimp_reports') %>">Then View Reports</a>


<div class="little-space"></div>

<a class="btn btn-primary btn-lg" href="<%= skills_path %>">All Skills</a>

