<h1>View Mailchimp Reports</h1>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <p>After you <a href="<%= skill_path('create_newsletters') %>">create a newsletter</a> and send it out, you can see what was successful or unsuccessful by viewing the mailchimp report.</p>
    <iframe src="//player.vimeo.com/video/85499777" width="500" height="283" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>

</div>


<div class="little-space"></div>

<a class="btn btn-primary btn-lg" href="<%= skills_path %>">All Skills</a>