<h1>Personality Quizzes</h1>

<h3>Personality quizzes like <a href="http://uiuc.spoonuniversity.com/2014/04/quiz-campus-bar/" target="_blank">this one</a> are super fun posts that are GREAT for getting more views for your site.</h3>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
  <ol>
    <li>Click the 'New Quiz" header under "Quizzes" in the left sidebar of your admin panel.</li>
    <img src="/assets/quiz_1.png">
    <li>Select "Personality" from the dropdown window and click next.</li>
    <img src="/assets/quiz_2.png">
    <li>Give your quiz a title and list the personality types. You can upload images and put descriptions here. <span class="note">NOTE: If you have less personality types than there are boxes, click "Delete Personality Type" next to any unused spaces — if you don't, you'll have empty lines in your quiz. Do the same with the number of questions — delete any questions you don't write, or add more if you need more. But don't have extra empty spaces.</span></li>
    <img src="/assets/quiz_3.png">
    <li>Copy and paste the quiz shortcode [quiz=1] into your post.</li>
    <img src="/assets/quiz_4.png">
  </ol>
  <p>Just keep in mind that the first personality type you list is associated with the first answer to each question, the second type with the second answer, and so on. When the quiz is actually displayed, the order of the answers will be randomized.</p>
  </div>
</div>
<div class="little-space"></div>
<a class="btn btn-primary btn-lg" href="<%= skills_path %>">All Skills</a>