body {
	font-family: 'museo-sans-rounded';
}

.track-nav {
	border: 1px solid #cccccc;
	padding:1px 0px;
	text-align:center;
	border-radius: 2px;
}

.track-nav a {
	float:left;
	margin:1px;
	color:white;
	height: 40px;
	padding:10px 0;
	border-radius: 1px;
}

.editorial a {
	background: #00a2ca;
	text-decoration: none;
}

.editorial a:hover {
	background: #99daea;
}

a.completed {
	background: #99daea;
}


.track-body h1 {
	text-transform: capitalize;
}

.alum-inactivew{
	color:red;
	/*visibility: hidden;*/
}

.alum-active{
	color:grey;
}



