html body {
	height: 100%;
	font-size: 16px;
	line-height: 22px;
}

.addendum {
	margin-top:100px;
}

.sections .row {
	margin-bottom: 50px;
}

.img {
	width: 100%;
}

#error_explanation ul {
	list-style-type: none;
}

.small-caps {
	font-weight: 900;
	font-size:11px;
	text-transform:uppercase;
}

.flickr img {
	box-shadow: 2px 2px 15px rgba(0,0,0,0.5);
}

.btn.btn-primary:hover {
	background-color: #cc0066;
}

.btn.btn-primary.editorial:hover {
	background-color: #f1a003;
}

.btn.btn-primary.photo:hover {
	background-color: #00a2ca;
}

.btn.btn-primary.marketing:hover {
	background-color: #829300;
}


.asterisk {
	color: #ff0000;
	font-size: 40px;
}

#logo {
	padding:5px 10px 5px 0px;
}

.box {
	border: 1px solid #000000;
	border-radius: 5px;
	margin:25px 0;
}

.materials .box {
	margin:5px 0;
	color: #000000;
}

.materials .link .box:hover {
	background: #829300;
}

.materials .link {
	color:#ffffff;
}

.materials .link:hover {
	color:#ffffff;
	border-color: #829300;
}

.box.black-out {
	background-color:#000000;
	color:white;
}

.logo-preview {
	background: #cccccc;
}

.box-inner {
	padding: 15px;
}

.box-label {
	width:100%;
	text-transform:uppercase;
	color:#ffffff;
	background-color: #000000;
	font-weight:700;
	letter-spacing: 1px;
	font-size:12px;
}

.little-spoon {
	width:14px;
	margin-top:-4px;
}

.empty-space {
	margin-top:100px;
}

.little-space {
	margin-top:50px;
}

.questionCtn {
	text-align: left;
}

.alum-active .panel, .inactive-user .panel {
	border-color: #d5d5d5;
}

.alum-active .panel-body, .inactive-user .panel-body {
	color: #888888;
}

.alum-active .panel-heading, .inactive-user .panel-heading {
	background-color: #fdfdfd;
	border-color: #f5f5f5;
}

.alum-active p, .inactive-user p {
	color: #888888;
}


.editorial .circle, .editorial.label {
	background-color:#f1a003;
	color:white;
}

.photo .circle, .photo.label {
	background-color:#00a2ca;
}

.marketing .circle, .marketing.label {
	background-color:#829300;
}

.circle {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	color:white;
	font-size:30px;
	margin: 20px auto;
}

.circle .number {
  padding-top:40%;
  font-family:'museo-slab';
  font-weight: 100;
}

ol {
	text-align:left;
}

a.link {
	color:#000000;
}

a.link:hover {
	color: #000000;
	text-decoration: none;
	border-bottom: 3px solid #a33873;
}

a.school-link {
	color: #fff;
}

a.school-link:hover {
	color: #ccc;
	text-decoration: none;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	font-size: 13px;
	height: 35px;
	padding:12px;
	width: 60%;
	margin: 0 auto;
	text-align:center;
	font-family: 'museo-sans-rounded';

}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus, button:focus {   
	border-color: transparent;
	box-shadow: transparent;
	outline: 0 none;
}

.fa {
	color:black;
}

.body {
	text-align:center;
}

body {
	font-family: 'museo-sans-rounded';
}

h1, h2, h3, h4, h5 {
	font-family: 'museo-slab';
	font-weight: 100;
}

.navbar {
	z-index: 1000;
	padding:5px;
	background: #474747;
	border-bottom:0px;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
	min-height: 25px;
	color: #ffffff;
	font-size: 14px;
}

.navbar span {
	margin-top:10px;
}

#menu .list-group-item:hover {
	background-color:#3a3a3a;
}

.profile {
	text-align:center;
}

.quicklinks a {
	clear:both;
	position:relative;
	float:left;
	width: 100%;
}

.track-nav {
	border: 1px solid #cccccc;
	padding: 1px;
	text-align:center;
	border-radius: 2px;
	overflow: hidden;
}

.track-nav a {
	float:left;
	font-size:8px;
	text-transform:uppercase;
	margin:1px;
	color:white;
	height: 40px;
	padding:6px 5px 10px 5px;
	border-radius: 1px;
	text-decoration: none;
	font-weight: 700;
}

.super {
	font-size: 40px;
	line-height: 45px;
}

.semi-super {
	font-size: 30px;
	line-height: 35px;
}

.track-nav li {
	line-height: 27px;
}

.begin-track {
	width: 50%;
	margin:30px;
}


.editorial a, .panel-heading.editorial {
	background-color: #f1a003;
}

.editorial a:hover, .editorial a.completed  {
	background-color: #f9d99a;
}

.photo a, .panel-heading.photo {
	background-color: #00a2ca;
}

.photo a:hover, .photo a.completed {
	background-color: #99daea;
}

.marketing a, .panel-heading.marketing {
	background-color: #829300;
}

.marketing a:hover, .marketing a.completed {
	background-color: #cdd499;
}


.track-body h1 {
	text-transform: capitalize;
	margin: 25px 0px;
}

.alum-inactive{
	color:red;
	visibility: hidden;

}

.styles-images div img, .expectations-images div img{
	width: 90%;
	padding-bottom: 15%;
}

.panel-heading {
	text-align:center;
}

.school-social .panel-heading a {
	text-decoration: none;
	font-weight: 700;
}

.staff-directory .badge {
	text-transform:uppercase;
	font-size:9px;
	padding: 3px 7px 2px;
	margin:0px;
}

.col-md-3:nth-child(3n+1){
	clear:left;
}

.border-left {
	border-left: 0px;
}

.border-right {
	border-right: 0px;
}

.btn.btn-primary {
	background-image: none;
	background-color: #000000;
	font-family: 'museo-sans-rounded';
	border: 0px;
	text-transform: uppercase;
	font-size: 9px;
	font-weight: 700;
}

.img-frame {
	width:100%;
	overflow:hidden;
}

.make-alum, .activate-user {
	background-color: transparent;
	border: 0px;
}
.make-alum i:hover, .activate-user i:hover {
	color: #cc0066;
}

.agreement-container {
	width: 80%;
	max-width: 800px;
	height: 200px;
	overflow-y: scroll;
	margin: 0 auto;
	border: 1px solid #cccccc;
	padding: 15px;
}

footer {
	margin-top:200px;
	padding: 5px;
	text-align:center;
	bottom: 10px;
}

.btn.btn-primary.btn-lg {
	font-size: 20px;
	padding: 18px 26px;
}

.panel-heading p {
	margin:0px;
}

.list-unstyled {
	margin:0px;
}

.list-group-item.border-top {
	border-top: 1px solid #ffffff;
	border-width: 0 1px;
	margin-top:25px;
}

div#menu {
		z-index: 0;
		top: 38px;
		right: -300px;
    text-align:left;
    display:none;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    letter-spacing: 1px;
    height: 100%;
    background-color: #474747;
    position:fixed;
}

#menu .list-group-item {
	background: #474747;
	color: #ffffff;
	border: 0px;
	border-radius: 0px;
}

#openMenu {
	margin: 0 5px;
	color:#ffffff;
}


.positions a {
	color:#000000;
}

.positions a:hover {
	color:#000000;
	text-decoration: none;
	border-bottom: 1px solid #a33873;
}

.school-social li {
	padding: 9px 0px;
}

.leadership li {
	margin:10px 0px;
}

.ig-b- { 
	display: inline-block; 
	}

.ig-b- img {
	visibility: hidden;
	}

.ig-b-:hover {
	background-position: 0 -60px;
	} 

.ig-b-:active {
	background-position: 0 -120px;
	}

.ig-b-24 {
	width: 24px; 
	height: 24px; 
	background: url(//badges.instagram.com/static/images/ig-badge-sprite-24.png) no-repeat 0 0;
	}

.timeline-window {
	width: 100%;
	padding: 10px;
	overflow-x: scroll;
	overflow-y: hidden;
	height: 320px;
	border: 1px solid #dddddd;
}

.timeline-window.plan-a-party {
	height: 470px;
}

.timeline-wrapper {
	width: 1475px;
}

.plan-a-party .timeline-step {
	height:450px;
}

.timeline-step {
	width: 200px;
	height:300px;
	background:black;
	margin: 0 5px;
	padding:10px;
	color:white;
	float:left;
}

.label {
	background:#000000;
	color:white;
	text-transform:uppercase;
	font-size:11px;
}

.timeline-step:nth-child(5n){
	background-color:#f96d14;
}
.timeline-step:nth-child(5n+1){
	background-color:#f1a003;
}
.timeline-step:nth-child(5n+2){
	background-color:#00a2ca;
}
.timeline-step:nth-child(5n+3){
	background-color:#829300;
}
.timeline-step:nth-child(5n+4){
	background-color:#a33873;
}

path {
    stroke: #ffffff;
    stroke-width: 4px;
}

div.quiz-score{
	border-style: solid;
	border-width: 3px;
	border-radius: 10px;
	display: inline-block;
	font-size: 3em;
}

.quiz-score {
	padding: .7em .2em;
}

.quiz-wrapper .editorial {
	border-color: #f1a003;
	color: #f1a003;
}

.quiz-wrapper .photo {
	border-color: #00a2ca;
	color: #00a2ca;
}

.quiz-wrapper .marketing{
	border-color: #829300;
	color: #829300;
}

a.retake{
	display: inline-block;
	text-decoration: none;
	color: white;
	font-size: .8em;
	border-radius: 5px;
	padding: 1px 11px;
	margin: 10px;
}

.quiz-title{
	color:#000;
	margin-top: 2em;
}

.faq {
	font-size:16px;
	line-height:35px;
	font-weight:900;
	margin-top:40px;
	text-transform:uppercase;
	color: #f96d14;
	background-color: #fdc5a1;
	border-radius: 4px;
}

.fa-question-circle {
	color: #f96d14;
	margin: 5px;
}

.frequently-asked-questions {
	text-align:left;
}
.next-page {
	margin:20px;
}

.box-label .fa {
	color: #ffffff;
	margin: 5px;
}

.social-media .box-label {
	font-size:12px;
}

.colors {
	color: #ffffff;
}

.orange {
	background-color: #f96d14;
}
.yellow {
	background-color: #f1a003;
}
.blue {
	background-color: #00a2ca;
}
.green {
	background-color: #829300;
}
.pink {
	background-color: #a33873;
}
.red {
	background-color: #ff0000;
}

.hover .orange {
	color: #f96d14;
	background-color: #fdc5a1;
}
.hover .yellow {
	color: #f1a003;
	background-color: #f9d99a;
}
.hover .blue {
	color: #00a2ca;
	background-color: #99daea;
}
.hover .green {
	color: #829300;
	background-color: #cdd499;
}
.hover .pink {
	color: #a33873;
	background-color: #daafc7;
}
.hover .red {
	color: #ff0000;
	background-color: #ff9999;
}

#sort-buttons thead tr th{
	padding:5px;
}

#see-alum{
	margin-bottom: 20px;
}

.hearts {
  font-size: 5em;
  position:absolute;
  left: 50%;
  top: 25%;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
.ig-b-24 {
	background-image: url(//badges.instagram.com/static/images/ig-badge-sprite-24@2x.png);
	background-size: 60px 178px; 
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 

	body {
		padding-top: 0px;
	}

	.super {
		font-size: 80px;
		line-height: 90px;
	}

	.semi-super {
		font-size: 60px;
		line-height: 65px;
	}


 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

	body {
		padding-top: 70px;
	}

	.col-sm-4:nth-child(3n+1) {
	clear:none;
	}

	.col-sm-4:nth-child(4n+1) {
	clear:left;
	}

	.border-left {
		border-left: 1px solid black;
	}

	.border-right {
		border-right: 1px solid black;
	}


 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	
 }












